body {
  /* background-image: url('../img/dog1.jpg'); */
}

/* •	strona ma nagłówek, wykorzystujący obrazek z zaokrąglonymi rogami, obrócony i rzucający cień + tekst */
header {
  border-radius: 1rem;
  background: url('../img/dog1.jpg');
  height: 200px;
  width: 300px;
  transform: rotate(20deg);
  margin: auto;
  box-shadow: 3px 3px 5px 6px #ccc;
  margin-bottom: 55px;
}

main {
  display: flex;
}

article,
nav {
  column-width: 300px;
}

h1 {
  text-align: center;
  color: white;
}

.pulledQuotes {
  float: right;
  width: 100px;
  background: #ddf;
  font-weight: bold;
  padding: 13px;
  margin: 0 13px 13px 0;
}

blockquote {
  margin: 0;
  /* gets rid of the default blockquote margin */
}

footer {
  text-align: center;
  margin-top: 15px;
}

/* •	Na urządzeniach z rozdzielczością poziomą <800 pikseli tekst powinien być wyświetlany w jednej kolumnie, galeria powinna być wyświetlana po tekście */
@media (max-width: 800px) {
  main {
    flex-wrap: wrap-reverse;
  }
}

/* the child combinator*/
p>img {
  float: left;
  margin-right: 1rem;
}

img {
  width: 100%;
}

/* the adjacent sibling combinator */
nav+figcaption {
  font-weight: 100;
}

/* the general sibling combinator */
main~footer {
  font-weight: bold;
}


/* •	(opcja): uzupełnij stronę o import dwóch czcionek, jedną wykorzystaj do nagłówków i pulled quotes, drugą do głównego tekstu i podpisów */
p,
figcaption {
  font-family: 'Fahkwang', sans-serif;
}

h1,
h2,
.pulledQuotes {
  font-family: 'Lato', sans-serif;
}
